@import url('https://fonts.googleapis.com/css?family=Nunito');


body {
  font-family: "Nunito", "Helvetica", "Arial", sans-serif;
}

body {
  background-color : #eee;
  color: #555;
  line-height: 1.5;
  width:100%;

}


h1,
h2,
strong {
  color: #333;
}

code,
pre {
  background: #eee;
}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
  border-bottom: 1px solid #d8dee9;
  color: #a7adba;
}

pre {
  padding: 1em;
  border-left: 2px solid #69c;
}

.container {
    background-color: white;
    width : 80%;
    margin: 50 auto;
}

.content {
    padding-top : 25px;
    padding-left : 1em;
    padding-bottom : 50px;
}


nav {

    border-bottom:1px solid #ddd;
    color: #ccc;
    text-transform: uppercase;
    font-size:0.8em;
    padding-left : 1em;
    padding-top : 0.2em;
}

nav h2 {
    color : #bbb;
}

nav ul {
    margin : 0 auto 15;
    list-style-type: none;
    width: 800px;
    text-align : center;
    height: 25px;
}

nav ul li {
    width : 33%;
    float : left;
}

nav ul li .active {
    color : blue;
    font-weight: 700;
}

nav ul li a {
    display : block;
    padding : 8px;
}

