<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <nav>
                <h2>SNIPS Sonos APP</h2>
        </nav>
        <nav>
                <ul>
                    <li><a href="/" class="active"><i class="far fa-user"></i> Login</a></li>
                    <li><a href="/devices/" ><i class="far fa-gem"></i> Devices</a></li>
                    <li><a><i class="fas fa-book"></i> Injection</a></li>
                </ul>
        </nav>
        <div class="content">

            <!-- CONTENT GOES HERE -->

            <h1><i class="far fa-check-circle"></i> Success</h1>
            <p>Here are your credentials that you'll have to write to the config.ini :</p>
                <code>
                    access_token={{ access_token }}
                    refresh_token={{ refresh_token }}
                    expires_in={{ expires_in }}
                </code>

            <br/>
            <!-- CONTENT ENDS HERE -->

        </div>
    </div>
    <p style="text-align:center">Made by <a href="https://snips.ai/">Snips</a></p>
    <p style="text-align:center"><i class="fab fa-github"></i><a href="https://github.com/snipsco/snips-app-sonos"> Source code </a></p>
    </body>
</html>


